.banner .navbar{
  padding: 2%;
}
.logo-container{
  float: left;
  padding-left: 12%;
}
.logo-name{
  padding-top: 1%;
}
img{
  width: 4%;
  float: left;
  display: inline-block;
  color: yellow;
}
span{
  color: black;
  display: inline-block;
  float: left;
  padding-top: 0.5%;
  font-weight: bold;
}

.banner{
  background-color: yellow;
  height: 100%;
  min-height: 400px;
  width: 100%;
  position: relative;
}

.menu{
  padding-top: 1%;
  float: right;
  padding-right: 17%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-right: 15px;

}
.menu li{

  display: inline-block;
}
.menu li a {
    color: black;
    padding:16px;
    font-weight: bold;
    text-decoration: none;
}

.clear{
  clear: both;
}

.text{
  padding-bottom: 5%;
}
.logos{
  margin: -2%;
  width: 100%;
  bottom: 1%;
}

.logos span img{
  width: 35px;
  display: inline-block;
}

.rectangle{
  float: left;
  width: 230px;
	height: 330px;
  border: solid white;
  border-radius: 15px;
  border-width: 25px 8px 25px 8px;
	background: black;

}

.rectangle .text{
  position: relative;
  top: 40%;
  left: 30%;
}
.rectangle .text span{
  padding-top: 3%;
  color: yellow;
}
.rectangle .text img{
  width: 20%;
}
