.banner .navbar{
  padding: 2%;
}
.logo-container{
  float: left;
  padding-left: 12%;
}
.logo-name{
  padding-top: 1%;
}
img{
  width: 4%;
  float: left;
  display: inline-block;
  color: yellow;
}
span{
  color: black;
  display: inline-block;
  float: left;
  padding-top: 0.5%;
  font-weight: bold;
}

.banner{
  background-color: yellow;
  height: 100%;
  min-height: 400px;
  width: 100%;
  position: relative;
}

.menu{
  padding-top: 1%;
  float: right;
  padding-right: 17%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-right: 15px;

}
.menu li{

  display: inline-block;
}
.menu li a {
    color: black;
    padding:16px;
    font-weight: bold;
    text-decoration: none;
}

.clear{
  clear: both;
}

.text{
  padding-bottom: 5%;
}
.logos{
  margin: -2%;
  width: 100%;
  bottom: 1%;
}

.logos span img{
  width: 35px;
  display: inline-block;
}

.rectangle{
  float: left;
  width: 230px;
	height: 330px;
  border: solid white;
  border-radius: 15px;
  border-width: 25px 8px 25px 8px;
	background: black;

}

.rectangle .text{
  position: relative;
  top: 40%;
  left: 30%;
}
.rectangle .text span{
  padding-top: 3%;
  color: yellow;
}
.rectangle .text img{
  width: 20%;
}
.section1{
  padding-bottom: 5%;
}

.section1 .header-text{
  padding-top: 6%;
}

.section1 .header-text h5{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
}
.section1 .header-text p{
  text-align: center;
  margin-bottom: 0%;
  opacity: 0.8;
}
.box{
  padding-bottom: 4%;
}
.box img{
  width: 15%;
  float: left;
  padding-right: 1%;
}
.img-disc{
  padding-left: 20%;
}
.img-disc h5{
  font-weight: bold;
}
.img-disc p{
  opacity: 0.5;
}

.footer{
  background-color: black;
  padding-bottom: 5%;
}
.footer .header-text{
  padding-top: 6%;
}
.footer .header-text h5{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
  color: yellow;
}
.footer .header-text p{
  text-align: center;
  margin-bottom: 0%;
  color: white;
  opacity: 0.6;
}
.search{
  padding-left: 27%;
}
.search input{
  width: 45%;
  float: left;
  border:12px solid white;
  border-radius: 5px;
  margin-right: 2%;
}

.search button{
  width: 10%;
  border:12px solid yellow;
  border-radius: 5px;
  background-color: yellow;
}
